body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    width: 300px;
}

select{
    width: 97%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #ff68e3;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e055c0;
}